<!DOCTYPE html>
<html lang = "en">
	
	<head>
		<meta charset = "UTF-8">
		<meta name = "viewport" content = "width=device-width, initial-scale=1.0">
		<title>Jineun_Backend's</title>
		<link href = "https://fonts.googleapis.com/icon?family=Material+Icons" rel = "stylesheet">
		<link rel = "stylesheet" href = "../CSS/think_drink.css">
		<style>
		</style>
	
	
	</head>
	
	<body>
		<header class = "main_header">
			
			<h1> 벡엔드 개발자 박진은 </h1>
			<nav class = "main_header_nav">
				<ul class = "main_header_span">
					<li><a class = "main_header_links" href = "#">Skills</a></li>
					<li href = ""><a class = "main_header_links" href = "#">Projects</a></li>
					<li href = ""><a class = "main_header_links" href = "#">Edu</a></li>
				</ul>
			</nav>
		</header>
		
		
		<div id = "wrap">
			
			<article>
				<h2> 박진은 포트폴리오 </h2>
				<br>
				<img src = "jineun_profile.png" alt = "프로파일 이미지 입니다.">
				
				<p>spring boot 를 이용한 1년 넘는 개발 기간, JPA 의 이해를 바탕으로 병렬적인 설계를 지향하는 개발, 프레임웍에 갖혀있지 않은 코드를 짤수 있는 개발자,빅데이터
				   활용 서비스
				   개발 공모전에서 최우수상, 장려상을 수상하며 새로운 시도 또한 즐기는 개발자 입니다. </p>
				
				
				<dl>
					<dt>
						<h3>Github</h3>
					</dt>
					<dd><a href = "https://github.com/JinEunPark">
						<h3>Github_Link</h3>
					</a></dd>
					
					
					<dt>
						<h3>Blog</h3>
					</dt>
					<dd><a href = "https://velog.io/@wlsdmsrnfl">
						<h3>tect_study_blog_link</h3>
					</a></dd>
					
					
					<dt>
						<h3>Email</h3>
					</dt>
					<dd>
						<h3>contect me! : wlsdmsrnfl@naver.com</h3>
					</dd>
				</dl>
			</article>
			
			
			<section>
				
				<h2>skills</h2>
				
				<ul>
					<li class = "skill_li">
						<h2>Main Skill Set(프로젝트 3회 이상 수행한 스킬)</h2>
					</li>
					<li class = "skill_li">
						<h3>Java/Spring-boot/JPA</h3>
					</li>
					<li class = "skill_li">
						<h3>AWS(EC2, ElasticBeanstalk, Elastic cache(redis cluster), RDS)</h3>
					</li>
					<li class = "skill_li">
						<h3>MySql, Postgres</h3>
					</li>
				
				</ul>
				
				<ul>
					<li class = "skill_li">
						<h2 id = "sub_skill">Sub Skill Set(프로젝트 수행시 데이터 수집 및 CI/CD 에 사용)</h2>
					</li>
					<li class = "skill_li">
						<h3>Python/Pandas/Selelnimun</h3>
					</li>
					<li class = "skill_li">
						<h3>Shell script</h3>
					</li>
				</ul>
			
			</section>
		</div>
		
		
		<footer></footer>
	
	</body>

</html>